<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">DANH SÁCH BỆNH NHÂN</h3>
        </div>
        <div th:if="${successMessage}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
        </div>
        <!-- Thông báo lỗi -->
        <div class="alert alert-danger" th:if="${errorMessage}">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="text-end w-auto mx-4 mt-2">
            <a class="btn btn-primary float-right" th:href="@{patients/create}">Thêm bệnh nhân</a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.id}"></td>
                    <td th:text="${patient.fullName}"></td>
                    <td th:text="${patient.gender == true ? 'Nữ' : 'Nam'}"></td>
                    <td th:text="${patient.dob}"></td>
                    <td th:text="${patient.address}"></td>
                    <td th:text="${patient.phone}"></td>
                    <td th:text="${patient.email}"></td>
                    <td th:text="${patient.status ? 'Hoạt động' : 'Không hoạt động'}"></td>
                    <td>
                        <!-- Biểu tượng chỉnh sửa -->
                        <a class="btn btn-warning btn-sm" th:href="@{patients/update/{id}(id=${patient.id})}">Chỉnh sửa</a>
                        <!-- Biểu tượng xóa -->
                        <a class="btn btn-danger btn-sm"
                           th:if="${patient.status == true}"
                           onclick="return confirm('Bạn có chắc chắn muốn hủy?')"
                           th:href="@{patients/disable/{id}(id=${patient.id})}">Hủy</a>

                        <a class="btn btn-success btn-sm"
                           th:if="${patient.status == false}"
                           onclick="return confirm('Bạn có chắc chắn muốn kích hoạt lại?')"
                           th:href="@{patients/enable/{id}(id=${patient.id})}">Kích hoạt</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
