<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>

<div layout:fragment="content" class="content">
            <div class="container-fluid ">
                <h1 class="text-center" >Quản lý Tài Khoản</h1>
                <button type="button" class="btn btn-success" style="width: 120px;font-size: 17px;">Người dùng</button>
                <button type="button" class="btn btn-success" style="width: 120px;font-size: 17px;">Bác sĩ</button>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>DoctorId</th>
                    <th>PatientId</th>
                    <th>Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="useraccount : ${Useraccount}">
                    <td th:text="${useraccount.id}"></td>
                    <td th:text="${useraccount.username}"></td>
                    <td th:text="${useraccount.password}"></td>
                    <td th:text="${useraccount.doctor != null ? useraccount.doctor.fullName : 'No Doctor'}"></td>
                    <td th:text="${useraccount.patient != null ? useraccount.patient.fullName : 'No Patient'}"></td>
                    <td th:text="${useraccount.status}"></td>
                </tr>
                </tbody>
            </table>
</div>
</body>
</html>
