<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragment/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="admin/fragment/header :: header"></div>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <div th:replace="admin/fragment/sidebar :: sidebar"></div>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->


        <!-- Main content -->


            <!-- Default box -->
            <div class="container-fluid ">
                <h1 class="text-center" >Quản lý Tài Khoản</h1>
                <button type="button" class="btn btn-success">Người dùng</button>
                <button type="button" class="btn btn-success w-10">Bác sĩ</button>
            </div>
            <!-- /.box -->

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="admin/fragment/footer :: footer"></div>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<div th:replace="admin/fragment/script :: script"></div>

</body>
</html>
