<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">DANH SÁCH DỊCH VỤ</h3>
        </div>
        <!-- Thông báo lỗi -->
        <div class="alert alert-danger" th:if="${errorMessage}">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="text-end w-auto mx-4 mt-2">
            <a class="btn btn-primary float-right" th:href="@{services/create}">Thêm dịch vụ</a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên Dịch Vụ</th>
                    <th>Mô Tả</th>
                    <th>Giá</th>
                    <th>Trạng Thái</th>
                    <th>Thao Tác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="service : ${services}">
                    <td th:text="${service.id}"></td>
                    <td th:text="${service.serviceName}"></td>
                    <td th:text="${service.description}"></td>
                    <td th:text="${#numbers.formatDecimal(service.price, 0, 0)}"></td>
                    <td th:text="${service.status ? 'Hoạt động' : 'Không hoạt động'}"></td>
                    <td>
                        <!-- Biểu tượng chỉnh sửa -->
                        <a class="btn btn-warning btn-sm" th:href="@{services/update/{id}(id=${service.id})}">Chỉnh sửa</a>
                        <!-- Biểu tượng xóa -->
                        <a class="btn btn-danger btn-sm"
                           th:if="${service.status == true}"
                           onclick="return confirm('Bạn có chắc chắn muốn hủy?')"
                           th:href="@{services/disable/{id}(id=${service.id})}">Hủy</a>

                        <a class="btn btn-success btn-sm"
                           th:if="${service.status == false}"
                           onclick="return confirm('Bạn có chắc chắn muốn kích hoạt lại?')"
                           th:href="@{services/enable/{id}(id=${service.id})}">Kích hoạt</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
