<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="~{admin/fragment/head :: head}">
    <title>Danh sách bệnh nhân</title>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:replace="~{admin/fragment/header :: header}"></div>
    <div th:replace="~{admin/fragment/sidebar :: sidebar}"></div>

    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="box">
                <div class="box-body">
                    <h1>Danh sách bệnh nhân</h1>
                    <h1 class="mb-4 text-center">Danh sách bác sĩ</h1>

                    <!-- Thông báo lỗi -->
                    <div th:if="${errorMessage}" class="alert alert-danger">
                        <p th:text="${errorMessage}"></p>
                    </div>

                    <!-- Bảng danh sách bác sĩ -->
                    <p class="fw-bold">Danh sách bác sĩ</p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Full Name</th>
                            <th>Specialization</th>
                            <th>Email</th>
                            <th>Phone</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="doctor : ${doctors}">
                            <td th:text="${doctor.id}"></td>
                            <td th:text="${doctor.fullName}"></td>
                            <td th:text="${doctor.specialization_id.id}"></td>
                            <td th:text="${doctor.email}"></td>
                            <td th:text="${doctor.phone}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- Button thêm bác sĩ -->
                    <div class="text-end">
                        <a th:href="@{doctors/newDoctor}" class="btn btn-primary">Thêm bác sĩ mới</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="~{admin/fragment/footer :: footer}"></div>

</div>
<!-- ./wrapper -->

<div th:replace="~{admin/fragment/script :: script}"></div>

</body>
</html>
