<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
</head>
<body>
        <div layout:fragment="content">
            <br>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">DANH SÁCH BÁC SĨ</h3>
                </div>
                <!-- Thông báo lỗi -->
                <div class="alert alert-danger" th:if="${errorMessage}">
                    <p th:text="${errorMessage}"></p>
                </div>
                <div class="text-end w-auto mx-4 mt-2">
                    <a class="btn btn-primary float-right" th:href="@{doctors/create}">Thêm bác sĩ</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Full Name</th>
                            <th>Gender</th>
                            <th>Specialization</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="doctor : ${doctors}">
                            <td th:text="${doctor.id}"></td>
                            <td th:text="${doctor.fullName}"></td>
                            <td th:text="${doctor.gender == true ? 'Nữ' : 'Nam'}"></td>
                            <td th:text="${doctor.specialization.name}"></td>
                            <td th:text="${doctor.email}"></td>
                            <td th:text="${doctor.phone}"></td>
                            <td th:text="${doctor.status ? 'Hoạt động' : 'Không hoạt động'}"></td> <!-- Cột status -->
                            <td>
                                <!-- Biểu tượng chỉnh sửa -->
                                <a class="btn btn-warning btn-sm" th:href="@{doctors/update/{id}(id=${doctor.id})}">Chỉnh
                                    sửa</a>
                                <!-- Biểu tượng xóa -->
                                <a class="btn btn-danger btn-sm"
                                   onclick="return confirm('Bạn có chắc chắn muốn xóa bác sĩ này?')"
                                   th:href="@{doctors/delete/{id}(id=${doctor.id})}">Xóa</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item"><a class="page-link" href="#">«</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
</body>
</html>
