<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}">
<head>
    <meta charset="UTF-8">
    <title>Doctor</title>
</head>
<body>
        <div layout:fragment="content">
            <div class="box">
                <div class="box-body">
                    <h1 class="mb-4 text-center">Danh sách bác sĩ</h1>
                    <!-- Butt   on thêm bác sĩ -->
                    <div class="text-end">
                        <a class="btn btn-primary" th:href="@{doctors/create}">Thêm bác sĩ mới</a>
                    </div>
                    <!-- Thông báo lỗi -->
                    <div class="alert alert-danger" th:if="${errorMessage}">
                        <p th:text="${errorMessage}"></p>
                    </div>

                    <!-- Bảng danh sách bác sĩ -->
                    <p class="fw-bold">Danh sách bác sĩ</p>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Full Name</th>
                            <th>Gender</th>
                            <th>Specialization</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="doctor : ${doctors}">
                            <td th:text="${doctor.id}"></td>
                            <td th:text="${doctor.fullName}"></td>
                            <td th:text="${doctor.gender == true ? 'Nữ' : 'Nam'}"></td>
                            <td th:text="${doctor.specialization.name}"></td>
                            <td th:text="${doctor.email}"></td>
                            <td th:text="${doctor.phone}"></td>
                            <td th:text="${doctor.status ? 'Hoạt động' : 'Không hoạt động'}"></td> <!-- Cột status -->
                            <td>
                                <!-- Biểu tượng chỉnh sửa -->
                                <a class="btn btn-warning btn-sm" th:href="@{doctors/edit/{id}(id=${doctor.id})}">Chỉnh
                                    sửa</a>
                                <!-- Biểu tượng xóa -->
                                <a class="btn btn-danger btn-sm"
                                   onclick="return confirm('Bạn có chắc chắn muốn xóa bác sĩ này?')"
                                   th:href="@{doctors/delete/{id}(id=${doctor.id})}">Xóa</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</body>
</html>
