<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách bệnh nhân</title>
</head>
<body>
<h1>Danh sách bs</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Spe</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <p>hhhhhhh</p>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.id}"></td>
        <td th:text="${doctor.fullName}"></td>
        <td th:text="${doctor.specialization}"></td>
        <td th:text="${doctor.email}"></td>
        <td th:text="${doctor.phone}"></td>
    </tr>
    </tbody>
</table>
<a href="/patients/new">Thêm bac si moi</a>
</body>
</html>
