
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="admin/fragment/head :: head">
    <title>Doctors</title>
</head>
<body>
<h1>Danh sách bs</h1>
<div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
</div>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Spe</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    <p>Danh sách bác sĩ</p>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.id}"></td>
        <td th:text="${doctor.fullName}"></td>
        <td th:text="${doctor.specialization_id.id}"></td>
        <td th:text="${doctor.email}"></td>
        <td th:text="${doctor.phone}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{doctors/newDoctor}">Thêm bac si moi</a>
</body>
</html>
