<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Thêm bác sĩ mới</h1>
<form action="/doctors/newDoctor" method="post">
    <label for="fullName">Full Name:</label><br>
    <input type="text" id="fullName" name="fullName" required><br>
    <label for="specialization">Specialization:</label><br>
<label for="specialization">Specialization:</label><br>
<select id="specialization" name="specialization" required>
    <option value="">Select Specialization</option>
    <!-- Add options here -->
</select><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" required><br>
    <label for="phone">Phone:</label><br>
    <input type="text" id="phone" name="phone" required><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
<!--<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
  <title>Make Page</title>
  <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js">
</script>
</head>

<body layout:fragment="content">
  <div style="text-align: center">
    <h1>write page</h1>
    <form  th:action="@{/createDiary}" th:object="${Diary}" method="post">
      <p>writer : <input type="text" th:field="*{writer}"/></p>
      <p>title : <input type="text" th:field="*{title}"/></p>
      <p>content : <input  style="width: 300px; height: 300px;" type="text" th:field="*{content}"/></p>
      <p><input type="submit" value="add"/> <input type="reset" value="reset"/></p>
    </form>
  </div>
  <script>
        ClassicEditor
            .create( document.querySelector( '#content' ) )
            .catch( error => {
                console.error( error );
            } );
  </script>
</body>
</html>-->