<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}">
<head>
    <meta charset="UTF-8">
    <title>Specialization</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">DANH SÁCH CHUYÊN KHOA</h3>
        </div>
        <!-- Thông báo lỗi -->
        <div class="alert alert-danger" th:if="${errorMessage}">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="text-end w-auto mx-4 mt-2">
            <a class="btn btn-primary float-right" th:href="@{specializations/create}">Thêm chuyên khoa</a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên Chuyên Khoa</th>
                    <th>Trạng Thái</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="specialization : ${specializations}">
                    <td th:text="${specialization.id}"></td>
                    <td th:text="${specialization.name}"></td>
                    <td th:text="${specialization.status ? 'Hoạt động' : 'Không hoạt động'}"></td>
                    <td>
                        <!-- Biểu tượng chỉnh sửa -->
                        <a class="btn btn-warning btn-sm" th:href="@{specializations/update/{id}(id=${specialization.id})}">Chỉnh sửa</a>
                        <!-- Biểu tượng xóa -->
                        <a class="btn btn-danger btn-sm"
                           th:if="${specialization.status == true}"
                           onclick="return confirm('Bạn có chắc chắn muốn hủy?')"
                           th:href="@{specializations/disable/{id}(id=${specialization.id})}">Hủy</a>

                        <a class="btn btn-success btn-sm"
                           th:if="${specialization.status == false}"
                           onclick="return confirm('Bạn có chắc chắn muốn kích hoạt lại?')"
                           th:href="@{specializations/enable/{id}(id=${specialization.id})}">Kích hoạt</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
