<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa chuyên khoa</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">CHỈNH SỬA THÔNG TIN CHUYÊN KHOA</h3>
        </div>
        <div class="mx-4 mt-2"><a href="/admin/specializations"><i class="fa-solid fa-chevron-left"></i><span class="p-2">Quay lại</span></a></div>
        <div class="card-body x-4 pt-1 pb-4">
            <div class="box">
                <div class="box-body m-auto w-50">
                    <div th:if="${errorMessage}" class="error">
                        <p th:text="${errorMessage}"></p>
                    </div>
                    <form class="p-4 shadow-lg rounded" th:action="@{/admin/specializations/update}" th:object="${specialization}" method="post">
                        <!-- ID -->
                        <div class="mb-3">
                            <label for="id" class="form-label">ID: </label>
                            <input type="text" class="form-control" id="id" th:field="*{id}" readonly>
                            <div th:if="${#fields.hasErrors('id')}" class="text-danger">
                                <span th:errors="*{id}"></span>
                            </div>
                        </div>

                        <!-- Name -->
                        <div class="mb-3">
                            <label for="name" class="form-label">Tên chuyên khoa</label>
                            <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Nhập tên chuyên khoa" required>
                            <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                                <span th:errors="*{name}"></span>
                            </div>
                        </div>

                        <!-- Status -->
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="status" th:field="*{status}">
                                <label class="form-check-label" for="status">Hoạt động</label>
                            </div>
                            <div th:if="${#fields.hasErrors('status')}" class="text-danger">
                                <span th:errors="*{status}"></span>
                            </div>
                        </div>

                        <div class="mb-3 text-right">
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
