<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minie Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <!-- Thẻ h1 để hiển thị "Xin chào {username}" -->
    <h1 id="greeting">Xin chào, Guest!</h1>

    <!-- Các nút Đăng nhập và Đăng xuất -->
    <button id="loginBtn" class="btn btn-primary">Đăng nhập</button>
    <form th:action="@{/myInfo}" method="get" style="display:inline;">
        <button type="submit" class="btn btn-primary">Xem Thông Tin</button>
    </form>

</div>



</body>
</html>
